<div class="container m-auto" style="width: 70%;">
  {{!-- form panel --}}
  <div class="row">
    <div class="col-12 col-md-10 mx-auto">

      <form action="/expenses/edit/{{ expensesData._id }}?_method=PUT" method="POST" class="mt-5"
        style="width: 70%; margin: 0 auto;">
        <div class="form-title d-flex justify-content-around">
          <span class="pb-2"></span>
          <h2 class="ps-3">請輸入你的支出</h2>
          <span class="pb-2 align-self-end text-warning">*為必填</span>
        </div>

        <div class="mt-4 d-flex justify-content-start">
          <div class="align-self-center me-3">
            <label for="name" class="form-label"><span class="text-danger">*</span>項目名稱：</label>
          </div>
          <div class="flex-fill">
            <input type="text" class="form-control" id="name" name="name" placeholder="請輸入支出項目名稱"
              value="{{ expensesData.name }}" required>
          </div>
        </div>

        <div class="mt-4 d-flex justify-content-start">
          <div class="align-self-center me-3">
            <label for="date" class="form-label"><span class="text-danger">*</span>支出日期：</label>
          </div>
          <div class="flex-fill">
            <input type="date" class="form-control min=" 1900-01-01" max="2100-12-31"" id=" date" name="date"
              value="{{ expensesData.date }}" required>
          </div>
        </div>

        <div class="mt-4 d-flex justify-content-start">
          <div class="align-self-center me-3">
            <label for="category" class="form-label"><span class="text-danger">*</span>支出類別：</label>
          </div>
          <div class="flex-fill">
            <select class="form-control" id="category" name="category" value="{{ expensesData.category }}" required>
              <option selected>類別</option>
              <option>家居物業</option>
              <option>交通出行</option>
              <option>休閒娛樂</option>
              <option>聚餐派對</option>
              <option>其他</option>
            </select>
          </div>
        </div>

        <div class="mt-4 d-flex justify-content-start">
          <div class="align-self-center me-3">
            <label for="amount" class="form-label"><span class="text-danger">*</span>支出金額：</label>
          </div>
          <div class="flex-fill">
            <input type="number" class="form-control" id="amount" name="amount" value="{{ expensesData.amount }}"
              required>
          </div>
        </div>

        <div class="row mt-5">
          <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-outline-primary me-3">確認修改</button>
            <a href="/">
              <button type="button" class="btn btn-outline-secondary">返回首頁</button>
            </a>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>