<div class="conatainer m-auto" style="width: 70%;">
  {{!-- sort bar --}}
  <div class="sort-bar mt-5" style="width: 60%; margin: 0 auto;">
    <div class="col" style="margin: 0 auto;">
      <select class="form-select fs-7" name="category" id="category" style="width: 40%; margin: 0 auto;">
        <option selected>類別</option>
      </select>
    </div>
  </div>

  {{!-- totalAmount panel --}}
  <div class="container mt-4" style="width: 50%; margin:0 auto;">
    <div class="row text-center d-flex align-items-end">
      <div class="col col-4 d-flex justify-content-end">
        <span class="fs-4 fw-bold mb-4">記帳總金額：</span>
      </div>
      <div class="col col-8 d-flex justify-content-start">
        <span class="fw-bolder text-danger" style="font-size: 6rem; margin-bottom: 0;">{{#if expensesRecord }} {{
          totalAmount }}
          {{/if}}</span>
      </div>
    </div>
  </div>

  {{!-- list panel --}}
  <div class="container" style="width: 60%; margin: 0 auto;">
    <ul class="list-group">

      {{#each expensesRecord}}
      <li class="list-group-item mt-3 shadow">
        <div class="row">
          <div class="col-8 d-flex align-items-center">
            <i class="{{ this.icon }}"></i>
            <div class="d-inline-block ms-2" style="width: 160px;">
              <span>{{ this.name }}</span>
              <span class="d-block">{{ this.date }}</span>
            </div>
            <h3 class="flex-fill fw-bold mt-1 text-end">{{ this.amount }} 元</h3>
          </div>
          <div class="col-4 d-flex justify-content-end align-items-center">
            <div>
              <a href="/expenses/edit/{{ this._id }}?_method=PUT" class="btn btn-success me-2"
                style="height: 80%;">修改</a>
            </div>
            <form action="/expenses/delete/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
              <button type="submit" class="btn btn-danger" style="height: 100%;">刪除</button>
            </form>
          </div>
        </div>
      </li>
      {{/each}}

    </ul>
    {{!-- create button --}}
    <div class="mt-5 mb-6 d-flex justify-content-center">
      <a href="./new" class="btn btn-outline-primary">新增支出</a>
    </div>

  </div>
</div>